includes:
#    - phpstan-baseline.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 'max'
    paths:
        - 'src'
        - 'tests'
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: false
        uncheckedExceptionClasses:
            - 'RuntimeException'
            - 'GuzzleHttp\Exception\GuzzleException'
